<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <ul class="nav">
    <li class="nav-item">
      {{#if home}}
        <a class="nav-link active" href="/">Home</a>
      {{else}}
        <a class="nav-link" href="/">Home</a>
      {{/if}} 
    </li>
    <li class="nav-item">
      {{#if dash}}
        <a class="nav-link active" href="/dashboard">Dashboard</a>
      {{else}}
        <a class="nav-link" href="/dashboard">Dashboard</a>
      {{/if}} 
    </li>
    <li class="nav-item">
      {{#if login}}
        <a class="nav-link active" href="/login">Log In</a>
      {{else}}
        {{#if logged_in}}
          <button class="nav-link" id="logout">Log Out</button>
        {{else}}
          <a class="nav-link" href="/login">Log In</a>
        {{/if}}
      {{/if}} 
    </li>
  </ul>
 
  <main>
    {{{ body }}}
  </main>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
