<h1>Tech Blog</h1>
<br/>
<h2>{{blog.title}}</h2>

<div class="container">
    <div class="card border-success text-dark">
      <div class="card-header">{{blog.user}} {{blog.date}}</div>
      <div class="card-body">
        <p class="card-text">{{blog.body}}</p>
        {{#if owner}}
          <button class="btn btn-success" id="edit-btn" value={{blog.id}}>Edit</button>
          <button class="btn btn-danger" id="del-btn" value={{blog.id}}>Delete</button>
        {{else}}
          <button class="btn text-dark btn-light" id="reply-btn" value={{blog.id}}>Comment</button>
        {{/if}}
      </div>
    </div>
</div>

<div id = "target-div">
   <form class="w-50">
    <div class="mb-3">
      <label for="inputBody" class="form-label">Body</label>
      <textarea type="body" class="form-control" id="inputBody" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{#each comments as |comment|}}
  <div class="card w-50 text-dark bg-light">
    <div class="card-header">{{comment.user}} {{comment.date}}</div>
    <div class="card-body">
      <p class="card-text">{{comment.body}}</p>
    </div>
  </div>
{{/each}}

<script src="/js/blog.js"></script>