<h1>Welcome!</h1>
<br/>

<div class="container">
  <div class="row">

    <div class="col">
      <h2>Your Posts</h2>
        <div class="container">
          {{#each blogs as | blog |}}
            <div class="card text-dark bg-light">
              <div class="card-header">User: {{user.username}} | {{date}}</div>
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{body}}</p>
                <a href={{route}} class="btn btn-info">See Full</a>
              </div>
            </div>
          {{/each}}
        </div>
    </div>

    <div class="col">
      <h2>Create a Post</h2>
        <form>
          <div class="mb-3">
            <label for="inputTitle" class="form-label">Title</label>
            <textarea type="title" class="form-control" id="inputTitle" rows="1"></textarea>
          </div>
          <div class="mb-3">
            <label for="inputBody" class="form-label">Body</label>
            <textarea type="body" class="form-control" id="inputBody" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
        </form>
    </div>

  </div>
</div>

<script src="/js/dash.js"></script>
