<h1>Blog Posts</h1>
<br/>

<div class="container">
  {{#each blogs as | blog |}}
    <div class="card text-dark bg-light">
      <div class="card-header">User: {{user.username}} | {{date}}</div>
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{body}}</p>
        <a href={{route}} class="btn btn-info">See Full</a>
      </div>
    </div>
  {{/each}}
</div>